body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
h1 {
  font-size: 50px;
}
a { 
  color: red;
  text-decoration: none;
}
input {
  font-size: 50px;
}

.content {
	width: 100%;
	margin-top: 100px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}